* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 10px 20px;
    background-color: #686868;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-position: 80%;
    
}

header h1 {
    font-size: 40px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: black;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    padding: 5px 5px;
    font-size: 30px;
}

.stripes {
    /* background-position:; */
    width: 100%;
    height: 150px;
}

.hero text {
    position: absolute;
    right: 16px;
    font-size: 300px;
}

.main-body {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
}

.main-body h2 {
    float: left;
    border-right: 2px solid black;
    padding-right: 1%;
    font-size: 50px;
    text-align: right;
    margin-left: 10%
}

.main-body-text {
    padding-left: 5%;
    padding-right: 10%;
    font-size: 20px;
}

.about-me {
    padding: 2%;
    display: flex;
}

.run-buddy img {
    width: 60%;
    height: auto;
    display: flex;
}

.robot-gladiators img {
    width: 40%;
    height: auto;
    display: flex;
}

.loading-screen img {
    width: 40%;
    height: auto;
    display: flex;
}

.contact {
    color:black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact ul {
    color: red;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact li {
    padding: 10px 15px;
    justify-content: space-between;
}